.root {
  max-width: 320px;
  margin-right: 60px;
}

.tabs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.text {
  margin-top: 80px;
}

.button {
  border: none;
  margin: 0;
  background: transparent;
}

.button:hover {
  color: white;
  cursor: pointer;
}
