.root {
  composes: pt-25 from global;
  width: 100%;

  display: flex;
  flex-direction: column;
  min-width: 595px;
  border: 1px solid var(--background-alt);
}

.root_over {
  border-color: #7b1fbb;
}

.list {
  width: 100%;
  min-height: 80px;
  margin: 16px 0;
  padding: 0 8px 0 16px;
  list-style: none;
  box-sizing: border-box;
  max-height: 657px;
  overflow-y: auto;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
}

.listItem:not(:last-child) {
  margin-bottom: 16px;
}

.ingredientContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  box-sizing: border-box;
}

.ingredientContainer_outter {
  width: 100%;
}

/* костыль, чтобы достать до ингредиента из пакета Яндекса */
.ingredientContainer_outter > div {
  max-width: initial;
}

.button {
  margin: 0 8px 0 0;
  padding: 0;
  border: none;
  background: none;
}

.results {
  display: flex;
  justify-content: flex-end;
}

.totalCost {
  display: flex;
  align-items: center;
}

.totalCost svg {
  width: 36px;
  height: 36px;
}
