.form {
  width: 100%;
  max-width: 480px;
  margin: 180px auto 0;
}

.title {
  text-align: center;
}

/* костыль для растяжения инпута */
.inputContainer > div {
  width: 100%;
}

/* костыль для растяжения инпута */
.inputContainer > div > div {
  width: 100%;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.hint {
  text-align: center;
}

.hintLink {
  text-decoration: none;
  color: #4c4cff;
}
